
<h1>Add Collaborator</h1>

  <%= form_for [@wiki, @collaborator] do |form| %>
    <div>
      <%= form.collection_select(:user_id, User.all, :id, :email) %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>

<% end %>